<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/output.css">
    <title>Clínica</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center content-center text-center">
        <h1 class="text-4xl font-bold">Editar usuario</h1>
        <h3>Edite los datos del siguiente usuario</h3>
    </div>
    <form>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password">
    </form>
    <script src="../../../scripts/admin/users/UpdateUser.js"></script>
</body>
</html>