<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/output.css">
    <title>Clínica</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center content-center text-center">
        <h1 class="text-4xl font-bold">Lista de usuarios</h1>
        <h3>En esta página podrá administrar los usuarios de la plataforma</h3>
        <div class="w-full">
            <ul id="user-list">
            </ul>
        </div>
        <button
        id="delete-marked-users-button"
        class="max-w-xl bg-red-500 text-white font-bold px-3 py-2 rounded m-2">
            Eliminar los usuarios marcados
        </button>
    </div>
    <script src="../../../scripts/admin/users/UsersList.js"></script>
</body>
</html>