<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    <script src="/src/scripts/components/nav/nav.js"></script>
    <script src="/src/scripts/components/footer/footer.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/output.css">
    <title>Clínica</title>
</head>
<body>
    <load-nav></load-nav>
    <div id="title" class="text-4xl font-bold text-center my-3 ml-10">
        <h1>Crear Prueba Analítica</h1>
    </div>
    <div id="prueba-form" class="flex flex-wrap items-center justify-around">
        <form
        id="analytic-form"
        class="w-3/4 flex flex-wrap justify-around items-center m-3 p-2.5 shadow rounded">
            <div id="patients" class="flex justify-around">
                <label class="font-bold m-1 p-2">Patient: </label>
                <select id="patients-select" name="analytics-patients">
                </select>
            </div>

            <div id="date">
                <label class="font-bold m-1 p-2">Date: </label>
                <input id="selectDate" type="date" required value="">
                <h4 id="date-error" class="font-light text-red-600 hidden">Fecha incorrecta</h4>
            </div>

            <div id="description">
                <label class="font-bold m-1 p-2">Descripción: </label>
                <input id="appointment-desc" type="text" class="border border-black rounded" required>
                <h4 id="desc-error" class="font-light text-red-600 hidden">Descripción demasiado corta</h4>
            </div>

            <div id="submit-container" class="flex flex-col items-center">
                <button
                type="submit"
                class="bg-blue-500 text-white font-bold px-3 py-2 rounded mt-2"
                >
                    Enviar
                </button>
                <h4 id="submit-error" class="font-light text-red-600 hidden">Complete correctamente los datos</h4>
            </div>
        </form>
    </div>
    <load-footer></load-footer>
    <script src="../../../scripts/specialist/analytics/createAnalytic.js"></script>
</body>
</html>