<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/output.css">
    <title>Inicio de sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./login-validation.js"></script> 
</head>
<body>
    
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-col bg-gradient-to-r from-blue-100 shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-md w-5/6 max-w-md">
        <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">
            <h2 class="text-xl font-permanent text-sky-800 text-center">Acceso pacientes y sanitarios</h2>
        </div>
        
        <div class="mt-10">
          <form action="#" id="formulario_login">
            <div class="flex flex-col mb-6">
              <label for="email" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Usuario:</label>
              <div class="relative">
                <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                  <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                  </svg>
                </div>
                <input id="email" type="email" name="email" class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Usuario" />
              </div>
              <div id="error_usuario" class="mt-2 text-center text-red-500"></div>
            </div>
            <div class="flex flex-col mb-6">
              <label for="password" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Contraseña:</label>
              <div class="relative">
                <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                  <span>
                    <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                      <path d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                  </span>
                </div>
    
                <input id="password" type="password" name="password" class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" placeholder="Contraseña" />
              </div>
              <div id="error_contra" class="mt-2 text-center text-red-500"></div>
            </div>
    
            <!--<div class="flex items-center mb-6 -mt-4">
              <div class="flex ml-auto">
                <a href="#" class="inline-flex text-xs sm:text-sm text-blue-500 hover:text-blue-700">¿Has olvidado tu contraseña?</a>
              </div>
            </div>-->
    
            <div class="flex w-full">
              <button type="submit" class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">
                <span class="mr-2 uppercase">Iniciar sesión</span>
                <span>
                  <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </span>
              </button>
            </div>
          </form>
          
        </div>

        <div class="mt-10">
            <hr class="h-0.5 w-full bg-gray-300" />
        </div>

        <div class="flex justify-around items-center mt-5">
            <div class="w-3/6 m-auto flex justify-between items-center gap-7 sm:gap-3">
                <img src="../../assets/logo.png" class="w-20 h-20" alt="Logo Clínica ULPGC">
                <p class="text-center font-permanent uppercase text-xl text-sky-800">Clínica ULPGC</p>
            </div>
        </div>
      </div>
    </div>
</body>
</html>