<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Clínica</title>
    <script>
        $(document).ready(function(){
            $('.navbar-load').load("./src/view/menu.html");
        });
    </script>
</head>
<body>
    <div class="navbar-load"></div>
    <h1 class="text-lg font-extralight text-cyan-500">Clínica MDA</h1>
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
            <h3 class="text-2xl font-bold text-center">Inicia sesión con tu cuenta</h3>
            <form action="">
                <div class="mt-4">
                    <div>
                        <label class="block" for="email">Usuario o email:<label>
                                <input type="text" placeholder="Usuario o email"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <label class="block">Contraseña:<label>
                                <input type="password" placeholder="Contraseña"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="flex items-baseline justify-between">
                        <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Iniciar sesión</button>
                        <a href="#" class="text-sm text-blue-600 hover:underline">¿Has olvidado tu contraseña?</a>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>